<!-- CONTENT AREA (BELOW) -->
<div class="container">
    <div class="row centered-form" style="margin: 20px;">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Enter search parameters</h3>
                </div>
                <div class="panel-body">
                    <form role="form">

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    Search URL
                                    <input type="text" name="searchUrl" id="searchUrl" class="form-control input-sm" placeholder="https://www.autotrader.co.uk/car-search?advertising-location=at_cars&year-from=2014&postcode=b904uh&body-type=Estate&sort=price-asc&colour=Blue&guid=e5f8f210-cbe0-44cb-863f-07ecdea5052f&model=3%20SERIES&page=1&aggregatedTrim=335d&radius=1500&make=BMW&onesearchad=Used&onesearchad=Nearly%20New&onesearchad=New">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    Destination Advert ID
                                    <input type="text" name="destAdvertID" id="destAdvertID" class="form-control input-sm" placeholder="201901153974607">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    Starting Point Post Code
                                    <input type="text" name="sourcePostCode" id="sourcePostCode" class="form-control input-sm" placeholder="SL1 1RT">
                                </div>
                            </div>
                        </div>



                        <input id="submit-search" type="submit" value="Search" class="btn btn-info btn-block">

                    </form>


                </div>
            </div>
        </div>
    </div>
</div>